#side{
    background-color:#e1001a;
}
#headerside{
    background-color: #f9f9f9;
}
#headersideup{
    background-color: #333333;
    height: 240px;
}
 #navup{
    // background-color: #545454;
    background-color: #efefef;
}
nav{
    background-color: #efefef;
}
#navdown{
    background-color: #a6a6a6;
    height: 568px;
}
.colorofdiv{
    background-color: #eeeeee;
}
#first1{
    height: 550px;
}
#first2{
    height: 190px;
}
#second1{
    height: 359px;
}
#second2{
    height: 190px;
}
#second22{
    height: 190px;
}

.colorofdiv1{
    background-color: #7e7e7e;
    width: 337px;
    // height: 180px;
    
}
.colorofdiv2{
    background-color: #9e9e9e;
    width: 337px;
    height: 180px;
}
.colorforunautre{
    background-color: #cacaca;
}
#unautre{
    height: 280px;
}
.encore1{
    background-color: #a6a6a6;
    height: 140px;
    width: 190px;
}
.encore2{
    background-color: #404040;
    height: 140px;
    width: 190px;
}
.colorofplus{
    background-color: #666666;
    width: 420px;
    height: 300px;
}
.colorforencoreplus{
    background-color: #b1b1b1;
    height: 140px;
}
ul li {
    list-style-type: none;
}
.navbutton{
    border-radius: 0;
    // width: 24%;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    padding: 15px 0px 15px 0px;
    border: none;
}
#firstbtn{
    background-color: #97c300;
}
#secondbtn{
    background-color: #00adc1;
}
#thirdbtn{
    background-color: #ff7437;
}
#fourthbtn{
    background-color: #994dd1;
}
.fa-search{
    font-size: 25px;
    padding-right: 30px;
    padding-top: 13px;
}
#sideicon{
    font-size: 25px;
}
.profilebutton{
    width: 193px;
    border-radius: 0;
    font-size: 15px;
    font-weight: bold;
    border: none;
    background-color: #f0f0f0;
    color: black;
}
#iconforp{
    font-size: 100px;
}
.firstdiv{
    height: 347px;
}
.firstdivsec1{
    height: 202px;
}
.firstdiv2{
    width: 440px;
    height: 190px;
}
.firstdiv2sec2{
    height: 190px;
   
}
.secondfirst1{
    height: 146px;
}
.secondfirst2{
    height: 209px;
}
.more{
    width: 320px;
    float: right;
}
.more2{
    width: 210px;
    float: right;
}
.agenda1_1{
    height: 180px;
}
.agenda1_2{
    height: 130px;
    background-color: #efefef;
}
#ajouter{
    font-size: 14px;
    background-color: #f7f7f7;
   
}
.psize{
    font-size: 0.9rem;
}
